name: "Generate Docs"

on:
  push:
    branches:
      - main
      - stable
    tags:
      - v*
  pull_request:
    branches:
      - main

jobs:
  pages:
    name: Generate Docs
    runs-on: ubuntu-latest
    env:
      api-dir: ./

    strategy:
      fail-fast: false

    steps:
      - name: Checkout repository for Yard
        uses: actions/checkout@v4
        with:
          path: rubycord_docs

      - name: Install OS package
        run: |
          sudo apt update
          sudo apt install -y git openssh-client

      - name: Setup Git config
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Setup Ruby 3.1
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true

      - name: Checkout repository for Github Pages
        if: github.repository == 'dakurei-gems/rubycord' && github.event_name == 'push'
        uses: actions/checkout@v4
        with:
          path: rubycord_gh
          ref: gh-pages

      - name: Run bundle install
        working-directory: ${{env.api-dir}}
        run: |
          gem install bundler
          BUNDLE_GEMFILE=rubycord_docs/Gemfile bundle install --jobs 4 --retry 3

      - name: Generate Yard docs
        working-directory: ${{env.api-dir}}
        run: |
          cd rubycord_docs
          bundle exec yard --output-dir /tmp/docs

      - name: Cleanup Yard doc files
        run: |
          cd rubycord_docs
          DOC_PATH="/tmp/docs" bin/clean_doc

      - name: Commit docs
        if: github.repository == 'dakurei-gems/rubycord' && github.event_name == 'push'
        run: |
          cd rubycord_gh
          mkdir -p $GITHUB_REF_NAME
          rm -rf $GITHUB_REF_NAME/*
          cp -r /tmp/docs/. $GITHUB_REF_NAME
          git add $GITHUB_REF_NAME
          git commit --allow-empty -m "[skip ci] Deploy docs"

      - name: Push
        if: github.repository == 'dakurei-gems/rubycord' && github.event_name == 'push'
        run: |
          cd rubycord_gh
          git push
